.contributors {

  &__container {
    background-color: rgb(247, 247, 247);
  }

  &__header {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__body {
    height: 75vh;
    overflow-y: scroll;
  }

}
